.hero {
  color: #fff;
  background-color: #111111;
  padding-bottom: 2rem;
}
.hero_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}
.Hero_Page {
  color: #484848;
  background-color: #282828;
  border-radius: 2rem;
}
